<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!--<div class="row">
  <div class="col-6 mx-auto">
    <div class="row">
      <input type="text" class="form-control col-9" #f />
      <button class="btn btn-primary col-3" (click)="addFruit()">Ajouter</button>
    </div>
  </div>
</div>
<div class="row">
  <ul class="list-group list-group-flush col-8 mx-auto">
    <app-item *ngFor="let f of fruits; let i = index;" (deleteF)="deleteFruit($event)">
        {{ fruits[i] }}
    </app-item>

  </ul>
</div>-->
<!--<h1 class="text-center" style="margin-top:50px;"> Directives</h1>
<div class="row">
  <div class="col-6 mx-auto" style="margin-top:50px;">
    <ul class="list-group">
      <li class="list-group-item">
        Item 1
      </li>
      <li color [textcolor]="'orange'" class="list-group-item">
        Item 2
      </li>
      <li class="list-group-item">
        Item 3
      </li>
      <li class="list-group-item">
        Item 4
      </li>
      <li class="list-group-item">
        Item 5
      </li>
    </ul>
  </div>
</div>-->

<!--<div class="container">
  <h2 style="text-align:center;margin-top:30px;">Service</h2>
  <div class="row">
    <div class="col-12">
    <app-add></app-add>
  </div>
  <div class="col-12">
    <app-panier></app-panier>
  </div>
  </div>
</div>-->
<!--<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <ul class="nav nav-pills nav-fill">
        
        <li class="nav-item">
          <a class="nav-link">Homepage</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto"></div>
  </div>
  <router-outlet></router-outlet>
</div>-->